asn1crypto==0.24.0
cassandra-pylib==0.0.0
cryptography==2.1.4
enum34==1.1.6
idna==2.6
ipaddress==1.0.17
keyring==10.6.0
keyrings.alt==3.0
pbr==5.4.3
psutil==5.4.2
pycairo==1.16.2
pycrypto==2.6.1
pygobject==3.26.1
pyspark==2.3.3
pyxdg==0.25
SecretStorage==2.3.1
six==1.12.0
stevedore==1.31.0
virtualenv==16.7.5
virtualenv-clone==0.5.3
virtualenvwrapper==4.8.4
